---
layout: base
---

<div class="col-sm-8 blog-main">
    {{ content }}
</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>
            Programming Chi (or Qi) is a blog about the humble ideas, bugs, and failures I encounter on a daily basis.
            Fortunately, alongside failures, there are also numerous successes and elegant solutions, which I hope to write about as well.
        </p>
    </div>
    {% include recent-posts.html %}
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/tfij">GitHub</a></li>
            <li><a href="https://twitter.com/TomaszFijalkows">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/tomek-fijalkowski">Linkedin</a></li>
        </ol>
    </div>
</div><!-- /.blog-sidebar -->
