<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <style>
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
    </style>
    <body>
        {% include header.html %}
        <div class="container">
            <div class="starter-template">
                <h1>404 Page not found</h1>
                <p class="lead">I invite you to the <a href="/">main page</a>.</p>
            </div>
        </div><!-- /.container -->
        {% include footer.html %}
        {% include scripts.html %}
    </body>
</html>