---
layout: base
---

<div class="col-sm-8 blog-main">
    {{ content }}
</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Tomek graduated with a master’s degree in physics. He is a professional programmer by trade, and is a carpenter in his heart. He likes pretty girls, cold tequila and old school black metal.</p>
    </div>
    <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
            <li><a href="https://github.com/tfij">GitHub</a></li>
            <li><a href="https://twitter.com/TomaszFijalkows">Twitter</a></li>
        </ol>
    </div>
</div><!-- /.blog-sidebar -->